

<section class="greeting">

    <div class="col-md-5 mt-5">
      <div class="card-body">
        <h3 class="card-title">Good Morning!</h3>
        Name<p>{{last_name}}{{first_name}}</p>
        Gender<p>{{gender}}</p>
        Email<p>{{email}}</p>
        Phone Number<p>{{phone_number}}</p>
        Role<p>{{role}}</p>
        Specialty<p>{{specialist_id}}</p>
      </div>
      <a href="https://clinic-management-system-proj2.herokuapp.com/patientList"><button type="button" class="btn btn-primary btn-lg col-md-12">Current Patients</button></a>
</div>
  </section>


      


<main class="container">
  <div class="row">

      <div class="col-md-7">
        <h2>Add New Patient</h2>
        <form class="addPatient">

      <div class="row mb-3">
        <div class="col">
          
            <input type="text" class="form-control" id="firstNameInput" placeholder="First Name">
        </div>
        <div class="col">
            <input type="text" class="form-control" id="lastNameInput" placeholder="Last Name">
        </div>
      </div>

          <div class="input group mb-3">
            <label for="inputDateOfBirth" class="form-label">Date of Birth</label>
            <input type="string" class="form-control" id="inputDateOfBirth">
          </div>

          <select class="form-select mb-3" id="genderInput" aria-label="Default select example">
            <option selected>Gender Choice</option>
            <option value="1">Male</option>
            <option value="2">Female</option>
            <option value="3">Other</option>
          </select>

          <div class="">
            <label for="inputAddress" class="form-label">Address(street, city, state, zipcode)</label>
            <input type="string" class="form-control mb-3" id="inputAddress" placeholder="1234 Main St">
          </div>
         

        <div class="input group mb-3">
            <label for="inputPhoneNumber" class="form-label">Phone Number</label>
            <input type="string" class="form-control" id="inputPhoneNumber">
          </div>

          <div class="input group mb-3">
            <label for="inputEmail4" class="form-label">Email</label>
            <input type="string" class="form-control" id="inputEmail4">
          </div>

         <div class="input group mb-3">
            <label for="inputDoctorID" class="form-label">Primary Doctor ID</label>
            <input type="string" class="form-control" id="inputDoctorID">
          </div>

        <div class="submit">
          <input class="btn btn-primary" onclick="formSubmission()" value="Submit">
        </div>
      </form>
    </div>
  </div>
</main>

<script src="./js/doctor.js"></script>