<div class="container column-gap-5 pt-1 ">
  <div class="row justify-content-between d-flex align-items-stretch ">
    {{!-- DOCTOR COLUMN --}}
    <div class="col-4  p-3 " id="patientChartColumns" >
      <div class="row mb-3">
        <h2>{{medicalstaff.role}} information</h2>
      </div>
      {{!-- DOCTOR INFO --}}
      <div class="row border-top pt-4">
        <h3>{{medicalstaff.first_name}} {{ medicalstaff.last_name }}<h3>
            {{!-- <h3>Contact Information:</h3> --}}
            <ul>
              <h4>Doctor's ID: {{medicalstaff.id}}</h4>
              <h4>Phone Number: {{medicalstaff.phone_number}} </h4>
            </ul>
      </div>
    </div>
    {{!-- PATIENT COLUMN --}}
    <div class="col-5  p-3" id="patientChartColumns">
      {{!-- PATIENT NAME --}}
      <div class="row  mb-3">
        <h2>Patient information</h2>
      </div>
      {{!-- PATIENT INFO --}}
      <div class="row border-top pt-4 ">
        <h3>{{last_name}}, {{first_name}} <h3>
            <ul >
              <h4>Gender: {{gender}}</h4>
              <h4>DOB: {{date_of_birth}}</h4>
              <h4>Email: {{email}}</h4>
              <h4>Phone Number: {{phone_number}}</h4>
              <h4>Address: {{address}}</h4>
              <h4>Next appointment is on: </h4>
              <h4>{{appointment.date}}</h4>
              <h4>Reason for the appointment:</h4>
              <h4>{{appointment.appointment_type}}</h4>
            </ul>
      </div>
    </div>
    {{!--DOCTOR'S NOTE --}}
    <div class="col-3 p-3 " id="patientChartColumns">
      <div class="row  mb-3">
        <h2>Patient History</h2>
      </div>
      <form class="mb-3 border-top p-4" id="noteForm">
        <textarea type="doctorNote" id="doctorNoteInput " rows="10">{{medical_notes}}</textarea>
        <button type="submit" class="btn btn-primary" data-patient-id="{{id}}">Save</button>
      </form>
    </div>

  </div>
</div>

<script src="/js/index.js"></script>